<div class="container mt-5">
  <h2 class="text-center">Welcome</h2>
  <div class="">
    <p>Your Booking:</p>
    <b>Recent</b>
    <div class="card">
      <div class="card-body">
        <div>
          From: Chennai To: Mumbai
          <br>
          Timing: 5:30pm
        </div>
        <div>
          Seat: 3A, 3B, 3C
        </div>
      </div>
    </div>
    <b>Old Booking</b>
    <div class="card">
      <div class="card-body">
        From: Banglore To: Chennai
        <br>
        Timing: 3:00 AM
        <br>
        Seats: 3A
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        From: Chennai To: Banglore
        <br>
        Timing: 8:00 PM
        <br>
        Seats: 1A
      </div>
    </div>
  </div>
</div>
