

.home{
    background-image: url('https://st.redbus.in/Images/RHSS/2022/hero/Tamil.png');
    /* width: 100vw; */
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -60px;
}

.form-search{
    position: relative;
    top: 50px;
}

.first{
    position: relative;
    top: -120px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}

.card-body{
    box-shadow: 0 0 10px gray;
    padding: 1rem;
}
.card-body:hover{
    box-shadow: 0 0 10px gray;
    transform: scale(1.01);
}
.three{
    padding: 1.9rem;
}

.label{
    background-color: white;
    border: 1px solid grey;
    border-right: none;
    border-radius: 10px 0px 0px 10px;

}

.input{
    border-radius: 0px 10px 10px 0px;
    border: 1px solid grey;
    border-left: none;
}
