<div class="container">
    <div class="row">
        <div class="col">
            <div class="p-5">
                <h5 class="text-center">Change Journey Date</h5>
            </div>
            <div class="p-5">
                <form class="d-flex justify-content-evenly">
                    <div>
                        <label for="ticketId">Ticket ID</label>
                        <input type="number" class="form-control" name="ticketId" id="ticketId" formControlName="ticketId">
                    </div>
                    <div>
                        <label for="date">Journey Date</label>
                        <input type="date" class="form-control" name="date" id="date" formControlName="date">
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-danger" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>