<div class="container p-5">
    <div class="row border p-2">
        <div class="col text-center">
            <div class="bg-secondary">
                <h4>Ticket Details</h4>
            </div>
            <div class="row border p-2">
                <div class="col">
                    <h5>{{ ticket['Source'] }} To {{ ticket['Destination'] }}</h5>
                </div>
                <div class="col">
                    <h5>{{ ticket['Date'] | date: 'mediumDate' }}</h5>
                </div>
            </div>
            <div class="row border p-2">
                <div class="col">
                    <h5>Passenger Details</h5>
                    <h6>{{ ticket['Passenger Details']['username'] }}</h6>
                    <p>{{ ticket['Passenger Details'] ['mobile'] }} <br> {{ ticket['Passenger Details']['mail'] }}</p>
                </div>
                <div class="col">
                    <h5>Ticket ID</h5>
                    <p>{{ ticket['id'] }}</p>
                </div>
                <div class="col">
                    <h5>Seat No:</h5>
                    <p>
                        <span *ngFor="let seat of ticket['Seat No']">{{ seat }}</span>
                    </p>
                </div>
                <div class="col">
                    <h5>Total Fare</h5>
                    <p>{{ ticket['Total Fare'] | currency: 'INR' }}</p>
                </div>
            </div>
            <div class="row border p-2">
                <div class="col">
                    <h5>Bus Name</h5>
                    <p>{{ ticket['Bus Name'] }} <br> {{ ticket['Coach Type'] }}</p>
                </div>
                <div class="col">
                    <h5>Reporting Time</h5>
                    <p>Before 30 mins</p>
                </div>
                <div class="col">
                    <h5>Departure Time</h5>
                    <p>{{ ticket['Departure Time'] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-3">
            <button class="btn btn-danger" routerLink="/">
                Book more tickets
            </button>
        </div>
    </div>
</div>